@keyframes backgroundAnimation {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  
  .App {
    background-image: url('Images/faded_gallery-7stSlxNAmfc-unsplash.jpg'); 
    animation: backgroundAnimation 20s linear infinite;
  }
  